.row
  .span8.order
    h2 Co dziś jemy?
    form#today-order.form-inline method='post' action='/today_order'
      fieldset.restaurant.control-group.controls-row
        label
          h4 Skąd zamawiamy:
        '
        input.input-xxlarge[
          type='text'
          name='restaurant'
          autocomplete='off'
          placeholder='Wybierz lub wpisz nazwę miejsca...'
          value=@order[:restaurant].to_s
          data-provide='typeahead'
          data-items=10
          data-min-length=0
          data-source=@restaurants.to_s]
      .dishes
        - @order_items.each do |item|
          fieldset.dish.control-group.controls-row
            select.input-medium name='user[]'
              - @usernames.each do |u|
                option selected=(u == item[:user]) = u
            input[
              type='text'
              name='dish[]'
              value=item[:dish].to_s
              autocomplete='off'
              placeholder='Co je?'
              data-provide='typeahead'
              data-items=10
              data-min-length=0
              data-source=@dishes.to_s]
            input.input-mini.text-right[
              type='text'
              name='price[]'
              value=("%0.2f" % item[:price].round(2))
              autocomplete='off'
              placeholder='Cena']
            input[
              type='text'
              name='notes[]'
              value=item[:notes].to_s
              placeholder='Uwagi (opcjonalnie)']
            a.remove href="#" Usuń
            label.muted.hidden Usuń
        - unless @order_items.index {|item| item[:user] == session[:user][:name] } 
          fieldset.dish.control-group.controls-row
            select.input-medium name='user[]'
              - @usernames.each do |u|
                option selected=(u == session[:user][:name]) = u
            input[
              type='text'
              name='dish[]'
              autocomplete='off'
              placeholder='Co je?'
              data-provide='typeahead'
              data-items=10
              data-min-length=0
              data-source=@dishes.to_json]
            input.input-mini.text-right[
              type='text'
              name='price[]'
              autocomplete='off'
              placeholder='Cena']
            input[
              type='text'
              name='notes[]'
              placeholder='Uwagi (opcjonalnie)']
        a.add href='#' Dopisz kolejną osobę
        label.muted.hidden Dopisz kolejną osobę
        span.total-price.input-mini 0.00
      fieldset.payer.control-group.controls-row
        label
          h4 Kto płaci:
        '
        select name='payer'
          option{value=''} nie wiadomo...
          - @usernames.each do |u|
            option= u
      hr
      .text-center
        button.save.btn.btn-primary.btn-large Zapisz zamówienie
      fieldset#dish-template.dish.control-group.controls-row.hidden
        select.input-medium name='user[]'
          - @usernames.each do |u|
            option selected=(u == session[:user][:name]) = u
        input[
          type='text'
          name='dish[]'
          autocomplete='off'
          placeholder='Co je?'
          data-provide='typeahead'
          data-items=10
          data-min-length=0
          data-source=@dishes.to_s]
        input.input-mini.text-right[
          type='text'
          name='price[]'
          autocomplete='off'
          placeholder='Cena']
        input[
          type='text'
          name='notes[]'
          placeholder='Uwagi (opcjonalnie)']
        a.remove href="#" Usuń
        label.muted.hidden Usuń
        javascript:
          Storage.dishes_with_prices = #{{@dishes_with_prices.to_json}};
  .span4
    .row
      .span4
        h3 Komu wiszę
    .row
      .span4
        h3 Kto mi wisi
