.hero-unit.welcome
  .row
    .span3
      %img.welcome{src: '/img/welcome.jpg'}
    .span7
      %h1 Co ja płace
      .lead zbieraj zamówienia i rozliczaj się z nich
      %h3 Hmm... Jeszcze się nie spotkaliśmy... Jak masz na imię?
      %form.form-inline{method: 'post'}
        %fieldset
          %input{type: 'text', placeholder: 'Wpisz imię...'}
          %button.btn.btn-primary No już, dalej!
